 
      <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Reiumbersement</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                    <li class="breadcrumb-item">Employee</li>
                    <li class="breadcrumb-item active">Reiumbersement</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
                        <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
                    </div>
                    <div class="p-2 d-flex">

                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-12">
      <div class="row clearfix" >
        <div class="card"><!--customer details-->
          <div class="row clearfix">
                  <div class="body">
                      <div>
                          <h4>Reiumbersement Form</h4>
                      </div>
                       <div class="row clearfix">
                        <div class="col-md-6">
                          <span for="basic-url">Date of Request</span>
                          <div class="input-group mb-3">
                              <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                           </div>
                        </div>
                        <div class="col-md-6">
                          <span for="basic-url">Form Number</span>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                             </div>
                        </div>
                      </div>

                    <div class="row clearfix">
                      <div class="col-md-6">
                          <div class="card"><!--pax details-->
                              <div class="header">
                                  <h2>Employee Details</h2>
                              </div>
                              <div class="body social_counter">
                                  <ul class=" list-unstyled basic-list">
                                      <li>
                                        <div class="input-group input-group-sm mb-3">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-sm">Emp Name</span>
                                          </div>
                                          <input type="number"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                        </div>
                                      </li>
                                      <li>
                                        <div class="input-group input-group-sm mb-3">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-sm">Employee ID</span>
                                          </div>
                                          <input type="number"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                        </div>
                                      </li>
                                      <li>
                                        <div class="input-group input-group-sm mb-3">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-sm">Email ID</span>
                                          </div>
                                          <input type="number"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                          <div class="header">Manager Details</div>
                          <div class="body social_counter">
                            <ul class=" list-unstyled basic-list">
                                <li>
                                  <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Emp Name</span>
                                    </div>
                                    <input type="number"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                  </div>
                                </li>
                                <li>
                                  <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Employee ID</span>
                                    </div>
                                    <input type="number"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                  </div>
                                </li>
                                <li>
                                  <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Email ID</span>
                                    </div>
                                    <input type="number"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                              </li>
                            </ul>
                        </div>
                        </div>

                      </div>
                      <div class="col-md-12"><!--confirmation info-->
                          <div class="card">
                              <div class="header">
                                  <strong>Expeses Info</strong>
                              </div>
                              <div class="body">
                                <span for="basic-url">Expenses Period</span>
                                    <div class="row clearfix">
                                      <div class="col-md-6">
                                         <span>From:</span>
                                         <div class="input-group mb-3">
                                           <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                         </div>
                                      </div>
                                       <div class="col-md-6">
                                        <span>To:</span>
                                         <div class="input-group mb-3">
                                           <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                        </div>
                                       </div>
                                    </div>
                                    <div class="row clearfix">
                                      <div class="col-md-6">
                                         <span>Business-purpose of Travel</span>
                                         <div class="input-group mb-3">
                                           <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                         </div>
                                      </div>
                                       <div class="col-md-6">
                                        <span>If Oher Reason Specify</span>
                                         <div class="input-group mb-3">
                                           <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                        </div>
                                       </div>
                                    </div>
                              </div>
                          </div>
                      </div>

                        <div class="col-md-12 "><!--payment info-->
                          <div class="card">
                              <div class="header">
                                  <h2>Description Info</h2>
                              </div>
                              <div class="body">
                                  <div class="table-responsive">
                                    <table class="table table-striped"><!--reiumbersement table-->
                                      <thead>
                                        <tr>
                                          <th>Date</th>
                                          <th>Category</th>
                                          <th>Expenses Particulars</th>
                                          <th>Distance Travelled in(KMS)</th>
                                          <th>Cost</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>
                                            <input type="date"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="Ground Transport" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="0Kms" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="60" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>

                                        </tr>
                                        <tr>
                                          <td>
                                            <input type="date"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="Ground Transport" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="0Kms" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>
                                          <td>
                                            <input type="text" value="60" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                                          </td>

                                        </tr>
                                      </tbody>
                                    </table>
                                      <div class="col-md-6">
                                        <table class="table">
                                          <thead class="thead-dark">
                                              <tr>
                                                  <th>Description</th>
                                                  <th class="text-right">Amount</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td class="text-right">
                                                      <p>Sub Total:</p>
                                                      <p>Less Cash Advance:</p>
                                                      <p>Total Reiumbersement</p>
                                                  </td>
                                                  <td class="text-right">
                                                      <p><i class="fa fa-inr"></i><input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  /></p>
                                                      <p><i class="fa fa-inr"></i><input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  /></p>
                                                      <p><i class="fa fa-inr"></i><input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  /></p>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="text-right">
                                                      <h6>Total:</h6>
                                                  </td>
                                                  <td class="text-danger text-right">
                                                       <i class="fa fa-inr"></i><input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                              </tr>
                                          </tbody>
                                      </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>
          </div>
      </div>
     </div>
 
