 
      <div class="container-fluid">
        <div class="block-header">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <h2>Case Analysis</h2>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                      <li class="breadcrumb-item">Bookings</li>
                      <li class="breadcrumb-item active">Case Analysis</li>
                  </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="d-flex flex-row-reverse">
                      <div class="page_action">
                          <!-- <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
                          <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button> -->
                      </div>
                      <div class="p-2 d-flex">

                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12  col-sm-12 ">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h5>1st Ananlysis Report</h5>
                  <strong>Confirmation Stage</strong>
                </div>
                <div class="body">
                   <div class="row clearfix">
                    <div class="col-lg-4 col-md-12">
                        <div class="header">
                          <h4>Payables</h4>
                        </div>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Category</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Net Land Cost</td>
                            <td>{{data.netcost}}</td>
                          </tr>
                          <tr>
                            <td>Profit</td>
                            <td>{{data.companycost}}</td>
                          </tr>
                          <tr>
                            <td>Partner Commisions</td>
                            <td>{{data.partnercost}}</td>
                          </tr>
                          <tr>
                            <td>GST</td>
                            <td>{{data.gstcost}}</td>
                          </tr>
                          <tr>
                            <td>Flight Cost</td>
                            <td>{{data.afc}}</td>
                          </tr>
                          <tr>
                              <td><strong>Total Payables</strong></td>
                            <td> <strong>{{(data.totalp)-(data.companycost)}}</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="header">
                          <h4>Recievables</h4>
                        </div>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Category</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Customer Payment</td>
                            <td>{{data.totalp}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="header">
                        <h4>Profits</h4>
                      </div>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Category</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Profit from Calc</td>
                            <td>{{data.companycost}}</td>
                          </tr>
                           
                          <tr>
                            <td>Profit from Negotiations</td>
                            <td>3000</td>
                          </tr>
                          <tr>
                            <td>Profit on Flights</td>
                            <td>1759</td>
                          </tr>
                          <tr>
                            <td>Profit on Cruise</td>
                            <td>2500</td>
                          </tr>
                          <tr>
                            <td><strong>Consolidated Profits</strong></td>
                            <td><strong></strong></td>
                          </tr>
                          <tr>
                            <td><strong>Net Profits</strong></td><!--Profit from calc-->
                            <td><strong>{{(data.companycost)}}</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                   </div>
                </div>
              </div>
              <div class="card">
                <div class="header"></div>
                <div class="body">
                  <div class="row clearfix">
                    <div class="col-md-12">
                      <table>
                        <thead>
                          <tr>
                            <th>Catogery</th>
                            <th>Amount</th>
                            <p>
                              Case 2 analysis will contain ledger balance of the customer.
                              Like Total recieveble from the customer - how much they are paying .
                               If there is any ledger balance make it as a shortfall.
                               the short fall amount is subtracted from the company profit then remaining amount is tge profit. 
                               If creditnote  is used for any transaction then it is added to the remaing profit amount. 
                            </p>
                            <p>
                              Case 3 analysis will contain customer support stage in this stage the small amount is added(credited) to the ledger or accounts
                              then that small amount is subtracted from the total profit.
                               the final stage is case 3 from this case the company profit for that transaction is descided.
                            </p>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
