<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Leave Request</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                    <li class="breadcrumb-item">Employee</li>
                    <li class="breadcrumb-item active">Leave Request</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Leave_Request">Add Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Employee List</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover js-basic-example dataTable table-custom m-b-0 c_list">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Employee ID</th>
                                    <th>Leave Type</th>
                                    <th>Date</th>
                                    <th>Reason</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="width45">
                                        <img src="../assets/images/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                    </td>
                                    <td>
                                        <h6 class="mb-0">Marshall Nichols</h6>
                                    </td>
                                    <td><span>LA-0215</span></td>
                                    <td><span>Casual Leave</span></td>
                                    <td>24 July, 2020 to 26 July, 2020</td>
                                    <td>Going to Family Function</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success" title="Approved"><i
                                                class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert"
                                            title="Declined" data-type="confirm"><i class="fa fa-ban"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width45">
                                        <img src="../assets/images/xs/avatar2.jpg" class="rounded-circle avatar" alt="">
                                    </td>
                                    <td>
                                        <h6 class="mb-0">Maryam Amiri</h6>
                                    </td>
                                    <td><span>LA-0215</span></td>
                                    <td><span>Casual Leave</span></td>
                                    <td>21 July, 2020 to 26 July, 2020</td>
                                    <td>Attend Birthday party</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success" title="Approved"><i
                                                class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert"
                                            title="Declined" data-type="confirm"><i class="fa fa-ban"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width45">
                                        <img src="../assets/images/xs/avatar2.jpg" class="rounded-circle avatar" alt="">
                                    </td>
                                    <td>
                                        <h6 class="mb-0">Gary Camara</h6>
                                    </td>
                                    <td><span>LA-0215</span></td>
                                    <td><span>Medical Leave</span></td>
                                    <td>20 July, 2020 to 26 July, 2020</td>
                                    <td>Going to Development</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success" title="Approved"><i
                                                class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert"
                                            title="Declined" data-type="confirm"><i class="fa fa-ban"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width45">
                                        <img src="../assets/images/xs/avatar2.jpg" class="rounded-circle avatar" alt="">
                                    </td>
                                    <td>
                                        <h6 class="mb-0">Frank Camly</h6>
                                    </td>
                                    <td><span>LA-0215</span></td>
                                    <td><span>Casual Leave</span></td>
                                    <td>11 Aug, 2020 to 21 Aug, 2020</td>
                                    <td>Going to Holiday</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success" title="Approved"><i
                                                class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert"
                                            title="Declined" data-type="confirm"><i class="fa fa-ban"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>