
     
        <div class="container-fluid">
          <div class="block-header">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Marketing Form</h2>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                  <li class="breadcrumb-item">Itineraries</li>
                  <li class="breadcrumb-item active">Itinerary Form</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                  <div class="page_action">
                    <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
                  </div>
                  <div class="p-2 d-flex">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12  col-sm-12 ">
              <div class="card">
                <div class="header">
                  <h4>Details</h4>
                </div>
                <div class="body">
                  <div class="row clearfix">
                    <div class="col-md-6">
                        <span for="basic-url">Partner Name</span>
                        <div class="input-group mb-3">
                          <input type="text" disabled value="Arun" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <span for="basic-url">Location</span>
                      <div class="input-group mb-3">
                        <input type="text" disabled value="Kadapa" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <span for="basic-url">Requirement for</span>
                    <div class="input-group mb-3">
                      <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">Internal Office Branding</option>
                        <option value="2">Pamplate Design</option>
                        <option value="3">Broucher Design</option>
                        <option value="4">Sign Board</option>
                        <option value="5">Visiting Card</option>
                      </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <label>Image Sizes</label>
                  <div class="input-daterange input-group" data-provide="datepicker">
                    <span class="input-group-addon">Width</span>
                      <input type="text" class="input-sm form-control" name="start">
                      <span class="input-group-addon">Height</span>
                      <input type="text" class="input-sm form-control" name="end">
                  </div>
                 </div>
                   <div class="col-md-6">
                    <span for="basic-url">Expected Date</span>
                    <div class="input-group mb-3">
                      <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                   </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div style="justify-content: center;" class="col-md-6 input-group-append">
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
                <div style="justify-content: center;" class="col-md-6 input-group-append">
                  <button class="btn btn-secondary" type="button">reset</button>
                </div>
                 </div>
              </div>


            </div>
          </div>
        </div>
 
 