 
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Payouts</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                    <li class="breadcrumb-item">Table</li>
                    <li class="breadcrumb-item active">Table Filter</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download Consolidated</button>
                    </div>
                    <div class="p-2 d-flex">

                    </div>
                </div>
            </div>
        </div>
      </div>

        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4>Partner Payouts</h4>
            </div>
            <div class="body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Destination</th>
                            <th>TripStart Date</th>
                            <th>Partner Type</th>
                            <th>Partner</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Arun
                        </td>
                        <td>Goa </td>
                        <td> 12-DEC-2022 </td>
                        <td>Super Partner</td>
                        <td>Akash</td>
                        <td>Completed </td>
                        <td>2000 </td>
                        <td><button class="btn btn-secondary">View</button> </td>
                    </tr>

                </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

    </div> 