<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>Partner Form</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
          <li class="breadcrumb-item">Itineraries</li>
          <li class="breadcrumb-item active">Itinerary Form</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex flex-row-reverse">
          <div class="page_action">
            <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
          </div>
          <div class="p-2 d-flex">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12  col-sm-12 ">
      <div class="card">
        <div class="header">
          <h4>Personal Details</h4>
        </div>
        <div class="body">
          <div class="row clearfix">
            <div class="col-md-6">
                <span for="basic-url">First Name</span>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-md-6">
              <span for="basic-url">Last Name</span>
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
          </div>
          <div class="col-md-6">
            <span for="basic-url">Father Name</span>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
          <div class="col-md-6">
            <span for="basic-url">Residential Address</span>
            <div class="input-group mb-3">
             <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
           <div class="col-md-6">
            <span for="basic-url">PAN Number</span>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           </div>
           <div class="col-md-6">
            <span for="basic-url">Date of Birth</span>
            <div class="input-group mb-3">
              <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           </div>
           <div class="col-md-6">
              <span for="basic-url">Mariatal Status</span>
             <div class="input-group mb-3">
              <select class="custom-select" id="inputGroupSelect01">
                 <option selected>Choose...</option>
                 <option value="1">Yes</option>
                 <option value="2">No</option>
               </select>
            </div>
           </div>
           <div class="col-md-6">
            <span for="basic-url">District of Operation</span>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           </div>
           <div class="col-md-6">
            <span for="basic-url">Years of Operation at Current Location</span>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           </div>
           <div class="col-md-6">
            <span for="basic-url">Contact Number</span>
            <div class="input-group mb-3">
              <input type="tel" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           </div>
           <div class="col-md-6">
            <span for="basic-url">Email Address</span>
            <div class="input-group mb-3">
              <input type="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           </div>
           <!-- <div class="col-md-6">
            <span for="basic-url">Profession</span>
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">Salaried</option>
                  <option value="2">Business</option>
                  <option value="3">Retired</option>
                  <option value="4">Freelancing Agents</option>
                  <option value="5">Others</option>
                </select>
              </div>
           </div> -->
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h4>Bank Details</h4>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-md-6">
                <span for="basic-url">Bank Name</span>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                 </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Bank Address</span>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                 </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Account Number</span>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                 </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">IFSC Code</span>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                 </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h4>Trade Details</h4>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-md-6">
                <span for="basic-url">Trade name</span>
                <div class="input-group mb-3">
                  <input type="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
               </div>
               <div class="col-md-6"> specify only for the lead generator
                <span for="basic-url">Trade Type</span>
                  <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">Propretory</option>
                      <option value="2">Partnership</option>
                      <option value="3">Public Limited</option>
                      <option value="4">Private Limited</option>
                      <option value="5">Others</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <span for="basic-url">If other, Please Specify</span>
                  <div class="input-group mb-3">
                    <input type="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                 </div>
                 <div class="col-md-6">
                  <span for="basic-url">Type of Trade</span>
                  <div class="input-group mb-3">
                    <input type="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                 </div>
                 <div class="col-md-6">
                  <span for="basic-url">Trade Address</span>
                  <div class="input-group mb-3">
                    <input type="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                 </div>
            </div>
          </div>
        </div>
        <div class="col-md-6"><button class="btn btn-secondary">Add Partner</button></div>
      </div>

      <div class="card" >
        <div class="body">
          <div class="input-group mb-3">

          </div>
          <div class="card">
            <div class="header">
              <h4>Fee Payment Details</h4>
            </div>
            <div class="input-group mb-3">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-md-6">
                    <span for="basic-url">Mode of Payment</span>
                    <div class="input-group mb-3">
                      <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Cheque</option>
                    <option value="2">Demand Draft</option>
                    <option value="3">Cash Depositing in Company Account</option>
                  </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <span for="basic-url">Cheque/DD/Payment Slip Number</span>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <span for="basic-url">Date of Transaction</span>
                    <div class="input-group mb-3">
                      <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                  </div>
                  <div class="col-md-6">
                     <span for="basic-url">Destination</span>
                     <div class="input-group mb-3">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                     </div>
                  </div>

                <div class="col-md-6">
                  <span for="basic-url">For Credit Card Payments</span>
                        <span for="basic-url">Credit Card Number</span>
                        <div  class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                        </div>
                </div>
                   <div class="col-md-6">
                        <span >Issuing Bank</span>
                        <div class="input-group mb-3">
                         <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                        </div>
                    </div>
                       <div class="col-md-6">
                        <span>Upload a Latest Passport Size Photo(only in 'Jpg' format)</span>
                        <div class="input-group mb-3">
                          <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                      </div>
                       </div>
                     <div class="col-md-6">
                  <span for="basic-url">Reference Name</span>
                  <p>Someone we can get in touch with when we can't reach you!</p>
                  <div class="input-group mb-3">
                   <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                    </div>
                    <div class="col-md-6">
                      <span for="basic-url">Reference Contact Number</span>
                      <div class="input-group mb-3">
                       <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                      </div>
                     </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Button trigger modal -->
           <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
             Terms&Conditions
           </a>
          <!-- Modal -->
         <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
 <br/>Autem hic culpa, modi natus et dicta repudiandae commodi
 <br/>provident earum corrupti alias at eaque obcaecati aspernatur?
 <br/>Temporibus voluptas modi expedita repudiandae?
</div>
<div class="modal-footer">
 <p><input type="checkbox" />I HERE BY DECLARE THAT THE ABOW INFORMATION IS TRUE AS PER MY KNOWLEDGE.</p>
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Accept</button>
</div>
</div>
</div>
         </div>
        </div>
        <div class="row clearfix">
          <div style="justify-content: center;" class="col-md-6 input-group-append">
            <button class="btn btn-primary" type="button">Submit</button>
        </div>
        <div style="justify-content: center;" class="col-md-6 input-group-append">
          <button class="btn btn-secondary" type="button">reset</button>
        </div>
         </div>
      </div>

    </div>
  </div>
</div>