 
      <div class="container-fluid">
          <div class="block-header">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <h2>Payment Form</h2>
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                          <li class="breadcrumb-item">Bookings</li>
                          <li class="breadcrumb-item active">Reciepts</li>
                      </ul>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="d-flex flex-row-reverse">

                          <div class="p-2 d-flex">

                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row clearfix">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="header">
                          <h2>Payment Form<small>Basic example without any additional modification classes</small> </h2>
                      </div>
                      <div class="body">
                        <form  >
                          <div class="row clearfix">
                            <div class="col-lg-12">
                              <div class="card">
                                <div class="header">
                                  <h4>Add Credit Note</h4>
                                </div>
                                <div class="body">
                                  <div class="row clearfix">
                                    <div class="col-md-6">
                                        <span for="basic-url">Reciept to</span>
                                        <div class="input-group mb-3">
                                          <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                      <span for="basic-url">Package Cost Less GST</span>
                                      <div class="input-group mb-3">
                                        <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <span for="basic-url">Goods and Service Tax(GST)</span>
                                      <div class="input-group mb-3">
                                        <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <span for="basic-url">Total Package Cost Incl. GST</span>
                                      <div class="input-group mb-3">
                                        <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <span for="basic-url">Payment Recieved</span>
                                      <div class="input-group mb-3">
                                        <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <span for="basic-url">Pending Payment</span>
                                      <div class="input-group mb-3">
                                        <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <span for="basic-url">Payment Type</span>
                                      <div class="input-group mb-3">
                                        <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                      <span for="basic-url">Total Amount</span>
                                      <div class="input-group mb-3">
                                        <input type="text"   class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>


                              <button class="btn btn-secondary">Submit</button>
                            </div>

                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
      </div> 
