<div class="block-header">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
          <h2>Lead Generator Details</h2>
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
              <li class="breadcrumb-item">Partners</li>
              <li class="breadcrumb-item active">Lead Generator Details</li>
          </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="d-flex flex-row-reverse">
              <div class="page_action">
                  <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
              </div>
              <div class="p-2 d-flex">

              </div>
          </div>
      </div>
  </div>
 </div>
<div class="row clearfix">
<div class="col-lg-12">
    <div class="card">
        <div class="header">
            <h2>Lead Generator Details<small>Basic example without any additional modification classes</small> </h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                    <thead>
                        <tr>
                            <th>S.no.</th>
                            <th>Code</th>
                            <th>Partner Name</th>
                            <th>Contact</th>
                            <th>Location</th>
                            <th>Date of Joining</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot> -->
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>6001</td>
                            <td>Amazing Andaman Corals Tours and Travels-Anantapur</td>
                            <td>9440294666<br/>08554278666</td>
                            <td>Anantapur</td>
                            <td>23-05-2015</td>
                            <td>
                              <button class="btn btn-secondary">view </button>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item">Upload Calc </a></li>
                                      <li><a class="dropdown-item">Upload itinerary </a></li>
                                      <li><a class="dropdown-item">Assign</a></li>
                                      <li><a class="dropdown-item">Delete</a></li>
                                    </ul>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item">Upload Calc </a></li>
                                      <li><a class="dropdown-item">Assign</a></li>
                                      <li><a class="dropdown-item">Delete</a></li>
                                    </ul>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item">Upload Calc </a></li>
                                      <li><a class="dropdown-item">Assign</a></li>
                                      <li><a class="dropdown-item">Delete</a></li>
                                    </ul>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item"> Upload Calc </a></li>
                                    </ul>
                                  </div>

                            </td>
                        </tr>
                        <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item"> Upload Calc </a></li>
                                    </ul>
                                  </div>

                            </td>
                        </tr>
                        <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item"> Upload Calc </a></li>
                                    </ul>
                                  </div>

                            </td>
                        </tr>
                        <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item"> Upload Calc </a></li>
                                    </ul>
                                  </div>

                            </td>
                        </tr>
                        <tr>
                            <td>GHRN12345</td>
                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                            <td>Goa<br/>14/12/2023<br/></td>
                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                            <td>10/12/2023<br/>Uday</td>
                            <td>Version1<br/>version2</td>
                            <td>
                                <div class="dropdown">
                                    <a class=" dropdown-toggle"   data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </a>
                                    <ul style="width: 100px;" class="dropdown-menu">
                                      <li><a class="dropdown-item">view </a></li>
                                      <li><a class="dropdown-item">Edit </a></li>
                                      <li><a class="dropdown-item">Create Report </a></li>
                                      <li><a class="dropdown-item"> Upload Calc </a></li>
                                    </ul>
                                  </div>

                            </td>
                        </tr> -->

                </tbody>
            </table>

</div>
        </div>
    </div>
</div>
</div>