

      <div class="container-fluid">
          <div class="block-header">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <h2>Package Form</h2>
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                          <li class="breadcrumb-item">Packages</li>
                          <li class="breadcrumb-item active">Package Form</li>
                      </ul>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="d-flex flex-row-reverse">
                           
                          <div class="p-2 d-flex">

                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row clearfix">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="header">
                          <h2>New Package<small>Basic example without any additional modification classes</small> </h2>
                      </div>
                      <div class="body">
                        <div class="row clearfix">
                          <div class="col-lg-12">
                            <div class="card">
                              <div class="header">
                                <h4>Add Package</h4>
                              </div>
                              <div class="body">
                                <div class="row clearfix">
                                  <div class="col-md-6">
                                    <span for="basic-url">Package Title</span>
                                    <div class="input-group mb-3">
                                      <input type="text" formControlName="title" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <span for="basic-url">Price</span>
                                    <div class="input-group mb-3">
                                      <input type="text" formControlName="price" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <span for="basic-url">Duration</span>
                                    <div class="input-group mb-3">
                                      <input type="text" formControlName="duration" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <span for="basic-url">Cities Covered</span>
                                    <div class="input-group mb-3">
                                      <input type="text" formControlName="cities" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                      <span for="basic-url">Reviews</span>
                                      <div class="input-group mb-3">
                                        <input type="text" formControlName="reviews" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                    <span for="basic-url">Overview</span>
                                    <div class="input-group mb-3">
                                      <input type="text" formControlName="overview" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <span for="basic-url">Validity</span>
                                    <div class="input-group mb-3">
                                      <input type="text" formControlName="validity" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <span>Upload Image</span>
                                    <div class="input-group mb-3">
                                      <div class="custom-file">
                                          <input formControlName="image" type="file" class="custom-file-input" id="inputGroupFile02">
                                          <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                      </div> 
                                  </div>
                                  </div>
                                  <div class="col-md-6">
                                    <span>Upload Itinerary</span>
                                    <div class="input-group mb-3">
                                      <div class="custom-file">
                                          <input formControlName="file" type="file" class="custom-file-input" id="inputGroupFile02">
                                          <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                      </div> 
                                  </div>
                                  </div>
                                </div>
                                <div>
                                  <button style="justify-content: center;" class="btn btn-secondary">Upload Package</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
