<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Sales Partner Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                <li class="breadcrumb-item">Partners</li>
                <li class="breadcrumb-item active">Sales Partner Details</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex flex-row-reverse">
                <div class="page_action">
                    <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
                </div>
                <div class="p-2 d-flex">

                </div>
            </div>
        </div>
    </div>
   </div>
  <div class="row clearfix">
  <div class="col-lg-12">
      <div class="card">
          <div class="header">
              <h2>Sales Partner Details<small>Basic example without any additional modification classes</small> </h2>
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                      <thead>
                          <tr>
                              <th>S.no.</th>
                              <th>Code</th>
                              <th>Partner Name</th>
                              <th>Contact</th>
                              <th>Location</th>
                              <th>Date of Joining</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <!-- <tfoot>
                          <tr>
                              <th>Name</th>
                              <th>Position</th>
                              <th>Office</th>
                              <th>Age</th>
                              <th>Start date</th>
                              <th>Salary</th>
                          </tr>
                      </tfoot> -->
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>6001</td>
                              <td>Amazing Andaman Corals Tours and Travels-Anantapur</td>
                              <td>9440294666<br/>08554278666</td>
                              <td>Anantapur</td>
                              <td>23-05-2015</td>
                              <td>
                                <button [routerLink]="['/salesreport']" routerLinkActive="router-link-active"  class="btn btn-secondary">view </button>
                              </td>
                          </tr>


                  </tbody>
              </table>

</div>
          </div>
      </div>
  </div>
  </div>