
 
          <div class="container-fluid">
              <div class="block-header">
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <h2>Cancelled Request</h2>
                          <ul class="breadcrumb">
                              <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                              <li class="breadcrumb-item">Bookings</li>
                              <li class="breadcrumb-item active">Cancelled Request</li>
                          </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="d-flex flex-row-reverse">
                              <div class="page_action">
                                  <!-- <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
                                  <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button> -->
                              </div>
                              <div class="p-2 d-flex">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row clearfix">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="header">
                              <h2>Cancelled Requests<small>Basic example without any additional modification classes</small> </h2>
                          </div>
                          <div class="body">
                              <div class="table-responsive">
                                  <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                                      <thead>
                                          <tr>
                                              <th>Ref.no</th>
                                              <th>Clent Details</th>
                                              <th>Source</th>
                                              <th>Package</th>
                                              <th>Pax Details</th>
                                              <th>Source Date</th>
                                              <th>View</th>
                                              <th>Actions</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                            <td>GHRN12345</td>
                                            <td>Varun<br/>8877665544<br/>Hyderabad</td>
                                            <td>Akash<br/>Hyderabad<br/>Super Partner</td>
                                            <td>Goa<br/>14/12/2023<br/></td>
                                            <td>5 Members<br/>2 Rooms<br/>Lunch&Dinner</td>
                                            <td>10/12/2023<br/>Uday</td>
                                            <td  ><button class="btn btn-primary"><i class="fa fa-calculator"></i></button> <button class="btn btn-secondary"><i class="fa fa-file"></i></button></td>
                                            <td><button class="btn btn-secondary">Restore</button></td>
                                          </tr>


                                  </tbody>
                              </table>

                </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div> 

