<form [formGroup]="versionform">
    <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input formControlName="name" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input formControlName="pdf" type="file" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input formControlName="excel" type="file" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
</form>