<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Holidays</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                    <li class="breadcrumb-item active">Holidays</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download report</button>
                        <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Holidays List</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover m-b-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Holiday name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-danger">
                                    <td>01</td>
                                    <td>January 26, 2020</td>
                                    <td>Sunday</td>
                                    <td>Republic Day</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>02</td>
                                    <td>April 10, 2020</td>
                                    <td>Friday</td>
                                    <td>Good Friday</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>03</td>
                                    <td>May 07, 2020</td>
                                    <td>Thursday</td>
                                    <td>Buddha Purnima</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>04</td>
                                    <td>May 23, 2020</td>
                                    <td>Saturday</td>
                                    <td>Id-Ul-Fitr</td>
                                </tr>
                                <tr class="text-success">
                                    <td>05</td>
                                    <td>August 15, 2020</td>
                                    <td>Saturday</td>
                                    <td>Independence Day</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>July 31, 2020</td>
                                    <td>Friday</td>
                                    <td>Id-Ul-Zuha (Bakrid)</td>
                                </tr>
                                <tr>
                                    <td>07</td>
                                    <td>August 12, 2020</td>
                                    <td>Wednesday</td>
                                    <td>Janmashtami</td>
                                </tr>
                                <tr>
                                    <td>08</td>
                                    <td>October 2, 2020</td>
                                    <td>Friday</td>
                                    <td>Gandhi Jayanti</td>
                                </tr>
                                <tr>
                                    <td>09</td>
                                    <td>November 14, 2020</td>
                                    <td>Saturday</td>
                                    <td>Diwali / Deepavali</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>December 25, 2020</td>
                                    <td>Friday</td>
                                    <td>Christmas Day</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>