 
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Payouts</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                    <li class="breadcrumb-item">Table</li>
                    <li class="breadcrumb-item active">Table Filter</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        <span for="basic-url">Monthly</span>
                      <div class="input-group mb-3">
                        <select class="custom-select custom-select-sm">
                          <option>Open this select menu</option>
                          <option value="1">Today’s</option>
                          <option value="2">This Week</option>
                          <option selected value="3">Last Week</option>
                          <option value="4">This Month</option>
                          <option value="5">Last Month</option>
                          <option value="6">Last 12 Month</option>
                          <option value="7">Custom Dates</option>
                      </select>
                       </div>
                    </div>
                    <div class="p-2 d-flex">

                    </div>
                </div>
            </div>
        </div>
      </div>

           <div class="row clearfix">
            <div class="col-md-6">
              <div class="card"><!--credit table-->
                <div class="row clearfix">
                  <div class="col-md-6 header">
                    <h4>Credits</h4>
                  </div>

                </div>
                <div class="body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Particular</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              10-Dec-2022
                            </td>
                            <td>NEFT-YESB22748886956 /<br/> SP FEE MIRYALAGUDA</td>
                            <td>125,000</td>
                        </tr>

                    </tbody>
                    </table>
                  </div>

                </div>
              </div>
             </div>
            <div class="col-md-6">
              <div class="card"><!--debit table-->
                <div class="row clearfix">
                  <div class="col-md-6 header">
                    <h4>Debits</h4>
                  </div>
                </div>
                <div class="body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Particular</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              10-Dec-2022
                            </td>
                            <td>NEFT-YESB22748886956/ <br/>SP FEE MIRYALAGUDA</td>
                            <td>125,000</td>
                        </tr>

                    </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card"><!--credit form-->
                <div class="row clearfix">
                  <div class="body">
                    <div>
                        <h4>Credit Form</h4>
                    </div>
                     <div class="row clearfix">
                      <div class="col-md-6">
                        <span for="basic-url">Date</span>
                        <div class="input-group mb-3">
                            <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                         </div>
                      </div>
                      <div class="col-md-6">
                        <span for="basic-url">Particular</span>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                           </div>
                      </div>
                      <div class="col-md-6">
                        <span for="basic-url">Amount</span>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                           </div>
                      </div>
                          <div class="input-group mb-3">
                               <button class="btn btn-secondary">Add Transcation</button>
                           </div>
                    </div>


                </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card"><!--debit form-->
                <div class="row clearfix">
                        <div class="body">
                            <div>
                                <h4>Debit Form</h4>
                            </div>
                             <div class="row clearfix">
                              <div class="col-md-6">
                                <span for="basic-url">Date</span>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                 </div>
                              </div>
                              <div class="col-md-6">
                                <span for="basic-url">Particular</span>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                   </div>
                              </div>
                              <div class="col-md-6">
                                <span for="basic-url">Amount</span>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  />
                                   </div>
                              </div>
                                  <div class="input-group mb-3">
                                       <button class="btn btn-secondary">Add Transcation</button>
                                   </div>
                            </div>


                        </div>
                </div>
              </div>
            </div>
           </div>

    </div> 