 
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Roles</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                            <li class="breadcrumb-item">Users</li>
                            <li class="breadcrumb-item">Roles</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex flex-row-reverse">
                            <div class="page_action">
                               <button class="btn btn-primary" [routerLink]="['/roleform']" routerLinkActive="router-link-active"    >Create New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Roles List</h2>
                            <ul class="header-dropdown">

                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-custom   m-b-0 c_list">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Role Name</th>
                                            <th>Department</th>
                                            <th>Created by</th>
                                            <th>Actions</th>
                                            <th>Restore</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h6 class="mb-0">Operations</h6>
                                            </td>
                                            <td>Akash</td>
                                            <td>HR</td>
                                            <td>
                                              <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                                              <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i class="fa fa-trash-o"></i></button>
                                          </td>
                                            <td>
                                              <button   class="btn btn-primary">Restore</button><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> 




