 
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Voucher</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>
                    <li class="breadcrumb-item">Table</li>
                    <li class="breadcrumb-item active">Table Filter</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download Voucher</button>
                        <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i> Send report</button>
                    </div>
                    <div class="p-2 d-flex">

                    </div>
                </div>
            </div>
        </div>
      </div>

        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4>Create Voucher</h4>
            </div>
            <div class="body">
              <div class="row clearfix">
                <div class="col-md-6">
                    <span for="basic-url">Itinerary Reference Number</span>
                    <div class="input-group mb-3">
                      <input type="text" disabled value="GHRN15428" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-md-6">
                  <span for="basic-url">Booking ID</span>
                  <div class="input-group mb-3">
                    <input type="text" disabled value="GHRDOM-85462-15-0001" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
              </div>
                <div class="col-md-6">
                  <span for="basic-url">Client Name</span>
                  <div class="input-group mb-3">
                    <input type="text" disabled value="Rajashekar Reddy" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Contact Number</span>
                <div class="input-group mb-3">
                  <input type="tel" disabled value="9865465654" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Trip Start Date</span>
                <div class="input-group mb-3">
                  <input type="date" disabled value="9865465654" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Trip End Date</span>
                <div class="input-group mb-3">
                  <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Duration</span>
                <div class="input-group mb-3">
                  <input type="text" disabled value="4Nights/5Days" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              <div class="col-md-6">
                 <div class="row clearfix">
                  <span for="basic-url">Customer Support Team</span>
                 <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <input type="text"  value="Yoganand" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                 </div>
                 <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input type="tel"  value="8546541615" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                 </div>
                 </div>
              </div>
              <div class="col-md-12">
                <div class="row clearfix">
                  <span for="basic-url">Operations Team</span>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <input type="text" disabled value="Kalyan" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
                 <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <input type="tel" disabled value="9845465446" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                 </div>
                 <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <input type="email" disabled value="kalyan@gogagaholidays.in" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                 </div>
                </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Trip Start Location</span>
                <div class="input-group mb-3">
                  <input type="text" disabled value="Hyderabad" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              <div class="col-md-6">
                <span for="basic-url">Destination</span>
                <div class="input-group mb-3">
                  <input type="text" disabled value="Kerala" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover js-basic-example dataTable table-custom">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>HotelName</th>
                            <th>HotelStandard</th>
                            <th>HotelAddress</th>
                            <th>Check Date&Time</th>
                            <th>Checkout Date&Time</th>
                            <th>Duration</th>
                            <th>RoomStandard</th>
                            <th>Supplemantary Inclusions</th>
                            <th>Confirmation Number from Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                              <input type="text" disabled value="Munnar" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </td>
                            <td><input type="text" disabled value="Hotel C7 Munnar" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                            <td><input type="text" disabled value="4 Star" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                            <td><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                            <td><input type="datetime-local" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                            <td><input type="datetime-local" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                            <td><input type="text" disabled value="2 Nights" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                            <td><input type="text" disabled value="Superior" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                            <td></td>
                            <td><input type="text" disabled value="SDH-MR/1245" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></td>
                        </tr>

                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-12">
        <div class="card">
          <div class="body">
            <div class="row clearfix">
               <div class="col-md-6">
                 <span>Supplimentary Inclusions</span>
                 <div class="input-group mb-3">
                   <input type="text" value="Rohtang Pass" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                 </div>
               </div>
                 <div class="col-md-6">
                  <span>Activity Date</span>
                  <div class="input-group mb-3">
                   <input type="date" value="Rohtang Pass" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                  </div>
                 </div>
                 <div class="col-md-6">
                   <span>Transport Info</span>
                   <div class="input-group mb-3">
                     <input type="text" value="Innova Crysta" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                   </div>
                 </div>
                 <div class="col-md-6">
                   <span>Seating Capacity</span>
                   <div class="input-group mb-3">
                     <input type="text" value="7+1" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                   </div>
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-secondary">Add More</button>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-12">
        <div class="card"><!--day wise itinerary-->
          <div class="header">
              <h4>Daywise Itinerary</h4>
          </div>
          <div class="body">
              <div class="row clearfix">
                  <div class="col-md-12">
                       <div class="row clearfix">
                          <div class="col-lg-3 col-md-6 col-sm-12">
                              <span>Day-1</span>
                              <div class="input-group mb-3">
                                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12">
                              <span>Location</span>
                              <div class="input-group mb-3">
                                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12">
                              <span>Kms</span>
                              <div class="input-group mb-3">
                                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12">
                              <span>Meal Plan</span>
                              <div class="input-group mb-3">
                                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                              </div>
                          </div>
                       </div>
                  </div>
                  <span>Tour Plan</span>
                  <div class="col-md-12">
                      <textarea type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  ></textarea>
                  </div>
              </div>
          </div>
        </div>
       </div>
       <!--Flight Component has to be rendered from booking form-->
      <div class="col-md-12">
        <div class="card"><!--Inclusions-->
          <div class="header">
              <h4>Package Inclusions</h4>
          </div>
          <div class="body">
              <div class="row clearfix">
                  <div class="col-lg-6 col-md-12">
                      <div class="fancy-checkbox">
                          <label><input type="checkbox"><span>5 Nights Hotel Accomodation in 3 Star</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label><input type="checkbox" checked><span>Meet and Great at Chandigarh Airport</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label><input type="checkbox"><span>Daily Breakfast(no breakfast on Day 1) and Daily Dinner(no Dinner on Last Day)</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label><input type="checkbox"><span>All Tours and Transfers</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label><input type="checkbox" checked><span>Sightseeing's as per Itinerary</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label><input type="checkbox"><span>Water Bottles and Hot Water as per hotel policies</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label><input type="checkbox"><span>Customer Support 24X7</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label><input type="checkbox" checked><span>All Applicable Taxes including GST</span></label>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-secondary">Add More</button>
              </div>
          </div>
        </div>
       </div>
       <div class="col-md-12">
        <div class="card"><!--exclusions-->
          <div class="header">
              <h4>Package Exclusions</h4>
          </div>
          <div class="body">
              <div class="row clearfix">
                  <div class="col-lg-6 col-md-12">
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Lunch or any other extra meals</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Personal Expenses</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Early Checkin and Late Checkout</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Entry Tickets</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Extra Sightseeing's</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Trips for Guides and Drivers</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Rohtang Pass</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Snow Activities and Adventure Activities</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Room heater</span></label>
                      </div>
                      <div class="fancy-checkbox">
                          <label style="color: red;"><input   type="checkbox"><span>Anything other than mentioned in above Inclusions</span></label>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-secondary">Add More</button>
              </div>
          </div>
        </div>
       </div>
       <div class="col-md-12">
        <div class="card"><!--Important Notes-->
          <div class="header">
            <h6>Important Notes</h6>
            <hr/>
          </div>
          <div class="body">
              <div class="row clearfix">
                  <div class="col-md-12">
                    1) All the travellers sould reach the airport 2 hours before the Flight departure.
                    <br/>2) All the travellers are advised to know the flight delay orCancellations in advance from the airlines to avoid trip cancellation
                    <br/>3) Please carry baggage as per the tickets issued and any excess baggage additonal to the baggage provided will be charged by the airlines as per the airlines baggage
                    <br/>policy
                    <br/>4) Please note any rescheduling, Cancellation, Amendments from Airlines, Any Corrections are subjected to Your Choosen Airlines policies. Gogaga Holidays will not hold
                    <br/>any responsibility in regards to any above mentioned corrections.
                    <br/>IMPORTANT NOTES
                    <br/>5) The Voucher is not allowed for any corrections and Changes, further any additonal services can be provided subject to service availability and on payment of additional
                    <br/>charges.
                    <br/>6) The hotels envisaged in the Vouchers cannot be changed, and no refund is allowed on the booking of hotel and services
                    <br/>7) All the travellers should follow the timings as per the Holiday Vouchers, and any delay or no show in transfers the company will not hold and responsibility.
                    <br/>8) For any Public Holidays, Natural Calamaties, Sudden unexpected Government Decessions the company will not hold responsible for Sightseeings and transfers.
                  </div>
              </div>
          </div>
        </div>
       </div>
       <div class="col-md-12">
        <div class="card"><!--Important Notes-->
          <div class="header">
            <h6>Cancellation Policy</h6>
            <hr/>
          </div>
          <div class="body">
              <div class="row clearfix">
                  <div class="col-md-12">
                    Cancellation / Amendment notice received Cancellation charges per person
                     Up to 30 days prior to date of departure Initial deposit amount or 25% of tour cost if full paid
                     Between 15 days to 29 days prior to departure 50% of tour cost
                     Less than 14 days to 8 days 75% of tour cost
                     Less than 8 days to 72 hrs. 100% non refundable
                     Note : Cancellation Policy is not negotiable in any condition and air ticket Cancellation as per airlines policy
                  </div>
              </div>
          </div>
        </div>
       </div>
      <div class="col-md-12">
        <div class="card">
          <div class="row clearfix">
            <div style="justify-content: center;" class="input-group-append">
              <button class="btn btn-primary" type="button">Submit</button>
          </div>
           </div>
        </div>
      </div>
    </div>
   
